<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/index.css}" href="css/test.css"
          rel="stylesheet" type="text/css" media="screen"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link th:href="@{/css/login.css}" href="../../static/css/login.css"
          rel="stylesheet" type="text/css" media="screen"/>
    <title>Користувач</title>
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" th:href="@{/}">ГОЛОВНА</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/course/all}">КУРСИ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/mentors}">МЕНТОРИ</a>
                    </li>

                    </li>

                    </li>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" th:href="@{/registration}">Зареєструватись</a>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" th:href="@{/login}">Увійти</a>
                    <li class="nav-item mr-auto" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/user}">Користувач</a>
                    </li>
                    <li class="nav-item mr-auto" sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link" th:href="@{/admin}">Адмін</a>
                    </li>
                    <li class="nav-item mr-auto" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/logout}">Вийти</a>
                </ul>
                <a class="navbar-brand" th:href="@{/}">
                    <img th:src="@{/img/nb_logo_1000.svg}" alt="" width="120" height="120">
                </a>
            </div>
        </div>
    </nav>
</header>
<main class="user">

    <div class="mentorsMentors">
        <div class="card text-center">
            <div class="card-header">
                Профіль користувача
            </div>
            <div class="card-body">
                <h5 class="card-title" th:text="${user.firstName} + ' ' + ${user.lastName}"></h5>
                <p class="card-text" th:text="${user.email}"></p>
                <a th:href="@{/}" class="btn btn-primary">На головну</a>
                <a th:href="@{/logout}" class="btn btn-primary">Вийти</a>
            </div>
        </div>
        <div class="card text-center">
            <div class="card-header">Твої курси</div>
            <table class="table border-bottom">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Назва курсу</th>
                    <th scope="col">Опис</th>
                    <th scope="col">Інформація</th>
                </tr>
                </thead>
                <tbody th:each="course : ${user.getCourses()}">
                <tr>
                    <th scope="row" th:text="${course.getId()}"></th>
                    <td th:text="${course.getTitle()}"></td>
                    <td th:text="${course.getDescription()}"></td>
                    <td><a class="delete" th:href="@{/course/{id}(id= ${course.getId()})}">Info</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="card text-center">
            <div class="input-group mb-3">
                <form method="post" th:action="@{/user/change-password}">
                    <div class="card-header">Змінити пароль</div>
                    <br>
                    <div class="card-body">
                        <label>Старий пароль</label>
                        <input type="text" name="oldPassword" class="form-control password"
                               placeholder="Напишіть старий пароль"
                               aria-label="Username" required>
                        <br>
                        <label>Новий пароль</label>
                        <input type="text" name="newPassword" class="form-control password"
                               placeholder="Напишіть новий пароль" required/>
                        <br>
                        <button type="submit" class="btn btn-primary">Змінити пароль</button>
                    </div>
                </form>
                <p class="error" th:if="${error != null}" th:text="${error}"></p>
        </div>
    </div>

</main>
<!-- Site footer -->

<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12 emaill">
                <p>newbizzz@gmail.com </p>
                <p>+380735674534</p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>

</html>
